<!-- selecting owner -->
<div *ngIf = "hideOnselectOwner" class="selectowner">
<div class="flex flex-col gap-4">
<label for="owners" class="text-3xl font-medium text-gray-900">Select an owner</label>
<select name="owners"  id="owners" (change) = "getownerId($event)"
class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:outline-none block h-12"
>
  <option value="" >Select an owner</option>
  @for (owner of ownerdb; track owner.id) {
    <option value="{{owner.id}}"  >{{owner.name}}</option>
    }
</select>
</div>
<div class="createowner" >
  Create a new owner?<a (click) = "showOwnerForm()" class="text-blue-700 cursor-pointer">Click here</a>
  <div 
  id="ownerForm"
  *ngIf = "OwnerForm" 
  [formGroup]="owner" >
    <form class="">
      <h1>Fill up Form</h1>
      <label for="Owner" class="formlabel">Owner</label>
      <input type="text" name="name"  formControlName="name" placeholder="Enter owner name" autocomplete="off">
      <div class="btn">
        <button (click) = "createOwner()">Submit</button>
      <button (click) = "closeModal()">Cancel</button>
      </div>
    </form>
    
  </div>
</div>
</div>
<!-- dashboard like -->
<div id="container">
<!-- sidebar -->
<div class="sidebar" *ngIf = "showOnselectOwner">
  <div class="top">
    <h1 class="" *ngIf="ownername">
     Hello , {{ownername}}
    </h1>
    <a class="actions" (click)="showDBData()">Show saved tasks</a>
    <a class="actions" (click)="showListData()">Show unsaved tasks</a>
    <a class="actions" (click)="openModal()">Add new task</a>
    <a class="actions" (click)="showProfile()">Update Account</a>
  </div>
  <div class="bottom">
    <a class="actionbtn"  (click) = "selectanotherOwner()">Select another owner</a>
  </div>
</div>

<!-- saved tasks -->
<div class="savedtasks" *ngIf = "showDatainDB">
<div class="title">Saved Tasks</div>
 <div class="task-container">
  @for (owner of owneritems; track owner.id) {
    <div class="task">
      <h1 class="taskh1">
       Task
      </h1>
      <input (change)="onChange($event)" name="task" value="{{owner.task}}"/>
      <div class="t-btn">
        <button 
        (click) = "updateItem(owner.id)"
       >Update</button>
        <button 
        (click) = "deleteItem(owner.id)"
        >Delete</button>
      </div>
    </div>
    }
    @empty {
      <div id="lis-content" class="w-full m-0 rounded-sm">
          <li class="text-3xl h-10 p-8 flex items-center justify-center mx-auto my-4">No Saved Tasks</li>
     
    </div>
    }
</div>
</div>

<!-- form add task -->
<div 
  class="addtask"
  *ngIf = "showModal"
  id="modal"
  [formGroup]="todo" 
  (ngSubmit)="pushItemtoList()">
    <form action="">
      <h1>
        Task
      </h1>
      <input type="text" class="inputform" name="task" formControlName="task" placeholder="Enter a task">
      <div class="btn">
          <button type="submit">Submit</button>
      </div>
    </form>
</div>

<!-- unsavedtask -->
<div 
  *ngIf = "showDatainList" 
  class="unsavedtasks">
  <div class="title">Unsaved Tasks</div>
  <button (click)="pushToDatabase()" class="saveall">Save All</button>
  <div class="task-container">
    @for (todo of ownerItemList; track todo.id) {
      <div id="lis-content" class="task">
        <h1>Task</h1>
        <label for="name" class=''>Task</label>
        <input 
        name="task" 
        type="text" 
        id="task"
        value="{{todo.task}}"/>
        <div class="t-btn">
          <button (click)="pushItemtoDatabase(todo)">Save</button>
        </div>
    </div>
  } @empty {
    <div id="lis-content" class="w-full m-0 rounded-sm">
        <li class="text-3xl h-10 p-8 flex items-center justify-center mx-auto my-4">No Tasks Yet</li>
   
  </div>
  }
  </div> 
  </div>

<!-- update owner -->
<div class="addtask " *ngIf = "showUpdate">
  <form >
    <h1>
     Name
    </h1>
    <input autocomplete="off"  (change)="updateOwner($event)" name="owner"  value="{{ownername}}"/>
    <div class="btn">
      <button 
      class="" 
      (click) = "updateAccount(ownerId)">Update</button>
      <button 
      class=""
      (click) = "deleteAccount(ownerId)">Delete Account</button>
    </div>
  </form>
</div>

</div>
