<div class="createowner" >
    Create a new owner?<a  class="text-blue-700 cursor-pointer">Click here</a>
    <div 
    id="ownerForm"
    [formGroup]="account" >
      <form >
        <h1>Fill up Form</h1>
        <label for="username" class="formlabel">Username</label>
        <input type="text" id="username" name="username"  formControlName="username" placeholder="Enter username" autocomplete="off">
        <label for="password" class="formlabel">Password</label>
        <input type="password" id="password" name="password"  formControlName="password" placeholder="Enter password" autocomplete="off">
        <div class="btn">
          <button (click) = "NewAccount()">Submit</button>
        </div>
      </form>
    </div>
  </div>